<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.js"></script>
    <link href="Scripts/Table.css" rel="stylesheet" />
    <script src="Scripts/Hide_Show.js"></script>
    <meta charset="utf-8" />
    <title>Custom Filters</title>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <input type="checkbox" ng-model="HideIt" />Hide the salary
        </br>
        </br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dob</th>
                    <th ng-hide="HideIt">Salary</th>
                    <th ng-show="HideIt">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in Employees">
                    <td>{{member.Name}}</td>
                    <td>{{member.Dob|date}}</td>
                    <td ng-hide="HideIt">{{member.salary}}</td>
                    <td ng-show="HideIt">########</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>